build/
output/
.vscode
include/
.idea
cmake-build-debug
laboratory/lab1_copy/README.md
laboratory/lab1_copy/source/CMakeLists.txt
laboratory/lab1_copy/source/main.cpp
laboratory/lab1_copy/source/ext/SFML/bin/openal32.dll
laboratory/lab1_copy/source/ext/SFML/bin/sfml-audio-2.dll
laboratory/lab1_copy/source/ext/SFML/bin/sfml-audio-d-2.dll
laboratory/lab1_copy/source/ext/SFML/bin/sfml-graphics-2.dll
laboratory/lab1_copy/source/ext/SFML/bin/sfml-graphics-d-2.dll
laboratory/lab1_copy/source/ext/SFML/bin/sfml-network-2.dll
laboratory/lab1_copy/source/ext/SFML/bin/sfml-network-d-2.dll
laboratory/lab1_copy/source/ext/SFML/bin/sfml-system-2.dll
laboratory/lab1_copy/source/ext/SFML/bin/sfml-system-d-2.dll
laboratory/lab1_copy/source/ext/SFML/bin/sfml-window-2.dll
laboratory/lab1_copy/source/ext/SFML/bin/sfml-window-d-2.dll
laboratory/lab1_copy/source/ext/SFML/lib/flac.lib
laboratory/lab1_copy/source/ext/SFML/lib/freetype.lib
laboratory/lab1_copy/source/ext/SFML/lib/ogg.lib
laboratory/lab1_copy/source/ext/SFML/lib/openal32.lib
laboratory/lab1_copy/source/ext/SFML/lib/sfml-audio-d.lib
laboratory/lab1_copy/source/ext/SFML/lib/sfml-audio-d.pdb
laboratory/lab1_copy/source/ext/SFML/lib/sfml-audio-s-d.lib
laboratory/lab1_copy/source/ext/SFML/lib/sfml-audio-s-d.pdb
laboratory/lab1_copy/source/ext/SFML/lib/sfml-audio-s.lib
laboratory/lab1_copy/source/ext/SFML/lib/sfml-audio.lib
laboratory/lab1_copy/source/ext/SFML/lib/sfml-graphics-d.lib
laboratory/lab1_copy/source/ext/SFML/lib/sfml-graphics-d.pdb
laboratory/lab1_copy/source/ext/SFML/lib/sfml-graphics-s-d.lib
laboratory/lab1_copy/source/ext/SFML/lib/sfml-graphics-s-d.pdb
laboratory/lab1_copy/source/ext/SFML/lib/sfml-graphics-s.lib
laboratory/lab1_copy/source/ext/SFML/lib/sfml-graphics.lib
laboratory/lab1_copy/source/ext/SFML/lib/sfml-main-d.lib
laboratory/lab1_copy/source/ext/SFML/lib/sfml-main-s-d.pdb
laboratory/lab1_copy/source/ext/SFML/lib/sfml-main.lib
laboratory/lab1_copy/source/ext/SFML/lib/sfml-network-d.lib
laboratory/lab1_copy/source/ext/SFML/lib/sfml-network-d.pdb
laboratory/lab1_copy/source/ext/SFML/lib/sfml-network-s-d.lib
laboratory/lab1_copy/source/ext/SFML/lib/sfml-network-s-d.pdb
laboratory/lab1_copy/source/ext/SFML/lib/sfml-network-s.lib
laboratory/lab1_copy/source/ext/SFML/lib/sfml-network.lib
laboratory/lab1_copy/source/ext/SFML/lib/sfml-system-d.lib
laboratory/lab1_copy/source/ext/SFML/lib/sfml-system-d.pdb
laboratory/lab1_copy/source/ext/SFML/lib/sfml-system-s-d.lib
laboratory/lab1_copy/source/ext/SFML/lib/sfml-system-s-d.pdb
laboratory/lab1_copy/source/ext/SFML/lib/sfml-system-s.lib
laboratory/lab1_copy/source/ext/SFML/lib/sfml-system.lib
laboratory/lab1_copy/source/ext/SFML/lib/sfml-window-d.lib
laboratory/lab1_copy/source/ext/SFML/lib/sfml-window-d.pdb
laboratory/lab1_copy/source/ext/SFML/lib/sfml-window-s-d.lib
laboratory/lab1_copy/source/ext/SFML/lib/sfml-window-s-d.pdb
laboratory/lab1_copy/source/ext/SFML/lib/sfml-window-s.lib
laboratory/lab1_copy/source/ext/SFML/lib/sfml-window.lib
laboratory/lab1_copy/source/ext/SFML/lib/vorbis.lib
laboratory/lab1_copy/source/ext/SFML/lib/vorbisenc.lib
laboratory/lab1_copy/source/ext/SFML/lib/vorbisfile.lib
laboratory/lab1_copy/source/ext/SFML/lib/cmake/SFML/SFMLConfig.cmake
laboratory/lab1_copy/source/ext/SFML/lib/cmake/SFML/SFMLConfigDependencies.cmake
laboratory/lab1_copy/source/ext/SFML/lib/cmake/SFML/SFMLConfigVersion.cmake
laboratory/lab1_copy/source/ext/SFML/lib/cmake/SFML/SFMLSharedTargets-debug.cmake
laboratory/lab1_copy/source/ext/SFML/lib/cmake/SFML/SFMLSharedTargets-release.cmake
laboratory/lab1_copy/source/ext/SFML/lib/cmake/SFML/SFMLSharedTargets.cmake
laboratory/lab1_copy/source/ext/SFML/lib/cmake/SFML/SFMLStaticTargets-debug.cmake
laboratory/lab1_copy/source/ext/SFML/lib/cmake/SFML/SFMLStaticTargets-release.cmake
laboratory/lab1_copy/source/ext/SFML/lib/cmake/SFML/SFMLStaticTargets.cmake
laboratory/lab1_copy/source/inc/AnimatedText.hpp
laboratory/lab1_copy/source/inc/Roboto-Regular.ttf
laboratory/lab1_copy/source/src/AnimatedText.cpp
